.App {
  text-align: center;
}
header {
  background-color: #282c34;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
}
header *{
  display: flex;
}
header a{
  color:white;
}

main{
  height: calc(100vh - 110px);
}

footer {
  background-color: #282c34;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
}
footer *{
  display: flex;
}
footer a{
  color:white;
}